# ETC
.dive-ci
.editorconfig
.env
.hadolint.yaml
**/*.example
**/*.md
LICENSE

# Runtime
audio_cache/
bin/
data/
logs/
musicbot/__pycache__/
musicbot/lib/__pycache__/

# Docker
.dockerignore
docker-compose.example.yml
docker-compose.yml
Dockerfile

# Git
.git/
.gitattributes
.github/
.gitignore

# IDE
.idea/
.vscode/
