.idea/
*.pyc
~*/
.vscode/
*.service
*.coverage

audio_cache/
dectalk/

discord.log
logs/
data/
config/options.ini
config/permissions.ini
config/aliases.json
config/autoplaylist.txt
config/autoplaylist_removed.txt
config/autoplaylist.cachemap.json
config/whitelist.txt
config/blacklist.txt
config/blocklist_users.txt
config/blocklist_songs.txt
config/playlists/
media/

docker-compose.yml

/env*/