# editor settings
.idea/
.vscode/

# python bytecode
*.pyc

# temp files
~*/

# directories
audio_cache/
dectalk/
logs/
data/
media/

# logs
discord.log

# configs
config/options.ini
config/permissions.ini
config/aliases.json
config/autoplaylist.txt
config/autoplaylist_removed.txt
config/autoplaylist.cachemap.json
config/whitelist.txt
config/blacklist.txt
config/blocklist_users.txt
config/blocklist_songs.txt
config/playlists/
config/autoplaylist.cachemap.json

# docker
docker-compose.yml

# inclusions (has to be declared last)
!**/*.example
