---
layout: multi
sidebar: true
body_class: docs fixed-width multi-page
---
{% assign collection = site.collections.first %}
    {% assign doc = collection[1].docs.first %}
      <h3><a id="{{ doc.url | replace: '/', '' | replace: '.', '' }}">
            {{doc.title}}
            {% if doc.type %}<span class="endpoint {{doc.type}}"></span> {% endif %}</a></h3>
          {% if doc.description %}
            <p class="description">{{doc.description}}</p>
          {% endif %}

          {% if doc.parameters %}
            <h6> {{ doc.parameters.title }} </h6>
            <dl class="parameters">
              {% for parameter in doc.parameters.data %}
                {% for k in parameter %}
                <dt>{{k[0]}}</dt>
                <dd>
                  <strong> {{k[1][0]}} </strong>
                  <br />
                  {{k[1][1]}}
                  </dd>
                {% endfor %}
              {% endfor %}
            </dl>
          {% endif %}

          {{doc.content}}
