<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >

		<link rel="stylesheet" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="{{ site.url }}/js/main.js"></script>
		{% seo %}

		<link rel="icon" type="image/png" href="{{ site.url }}/favicon.png">

		<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_key }}"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', '{{ site.google_analytics_key }}');
		</script>

	</head>
	<body>
		<header>
			<h1>
				<a href="{{ site.url }}"><img src="{{ site.url }}/images/logo.png" alt="{{ site.title }} logo"></a>
				<button type="button" class="open-nav" id="open-nav"></button>
			</h1>

			<form action="{{ site.url }}/search/" method="get">
				<input type="text" name="q" id="search-input" placeholder="Search">
				<input type="submit" value="Search" style="display: none;">
			</form>

			{% include sidebar.html %}

			<p class="copyright">
				<a href="https://discord.gg/bots"><img src="https://discordapp.com/api/guilds/129489631539494912/widget.png?style=shield"></a>
			</p>
		</header>
		<div class="main">
			{{ content }}
		</div>
		<script>
			document.getElementById("open-nav").addEventListener("click", function () {
				document.body.classList.toggle("nav-open");
			});
		</script>
	</body>
</html>
